services:
    postgres:
        image: postgres:16
        restart: always
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: mypassword
            POSTGRES_DB: blog
        ports:
            - '5432:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data
volumes:
    postgres_data:
